.booklist_container {
}
.booklist_header {
  width: 1400px;
  margin: 10px auto;
  padding: 40px 0;
  font-size: 35px;
  font-weight: 600;
  color: #a68e7a;
}

.booklist_introbox {
  background-color: beige;
  height: 350px;
}
.booklist_innerbox {
  padding: 20px 0;
  margin: 0 auto;
  height: 100%;
  width: 1400px;
  position: relative;
}
.booklist_intromessage {
  text-align: center;
  width: 700px;
  font-size: 25px;
  color: #d19066;
  padding: 40px 0 20px 30px;
}
.booklist_lorem {
  color: #e6ba80;
}
.booklist_introimage {
  position: absolute;
  width: 320px;
  height: 400px;
  bottom: 0;
  right: 5%;
}

.booklist_designbox {
  color: #c9b59d;
  padding: 65px 0 30px;
  text-align: center;
  font-size: 25px;
}
.booklist_designmsg {
  font-style: italic;
  font-size: 20px;
  margin: 0;
}

.booklist_itembox {
  width: 1400px;
  margin: 0 auto;
  padding-bottom: 40px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-wrap: wrap;
}
